BasedOnStyle: LLVM          # 基于LLVM的代码风格
IndentWidth: 4              # 缩进宽度为4个空格
AccessModifierOffset: -4    # 访问修饰符的偏移量为-4
ColumnLimit: 100            # 每行代码的最大列数
AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
AlignAfterOpenBracket: BlockIndent 
AllowShortIfStatementsOnASingleLine: true

